body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #004975;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
}

.dashboard {
  color: #18837E;
}

.title {
  color: #004975;
}